* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.hidden {
  display: none;
}

h1 {
  color: #FF8300;
  font-size: 2em;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Unica One', cursive;
}

h3 {
  color: white;
  background-color: #FF8300;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Unica One', cursive;
}

a {
  text-decoration: none;
  color: #FF8300;
}

a:hover {
  color: white;
}

.logo {
  color: #FF8300;
  padding: 10px;
}

.intro {
  text-align: center;
}

.options-form {
  text-align: center;
  margin-bottom: 25px;
}

.app-head {
  text-align: center;
}

.location-selection {
  text-align: center;
  margin: 0 auto;
}

.events-list, .nav-list, #sport-list {
  list-style-type: none;
  margin: 20px;
  padding: 0px;
}

.events-list {
  margin: 25px 0px 0px 0px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item, .sport, .submit, .next {
  background-color: white;
  border: #FF8300 1px solid;
  margin: 5px;
  padding: 5px;
  color: #FF8300;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.nav-item:hover, .submit:hover, .next:hover {
  background-color: #FF9019;
  color: white;
  cursor: pointer;
}

.nav-item:focus, .submit:focus, .next:focus {
  background-color: #FF9019;
  color: white;
  cursor: pointer;
}

.next {
  width: 50px;
  display: inline-block;
}

.submit {

  font-size: 14px;
  width: 70px;
  margin: 25px auto;
}

#state {
  width: 60px;
  display: inline-block;
}

#no-events {
  width: 40px;
  display: inline-block;
}

.map {
  height: 300px;
  margin-bottom: 25px;
}

#sport-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  padding: 0px;
  margin: 0px;
}

.sport {
  padding: 10px;
  width: 80%;
}

.sport:hover {
  background-color: #FF9019;
  color: white;
  cursor: pointer;
}

.event {
  margin-bottom: 5px;
  padding: 2px;
}

.venue-name {
  margin-top: -5px;
  margin-bottom: -2px;
}

.venue-address {
  margin-top: -15px; 
  margin-bottom: 0px;
}

.gm-style .gm-style-iw-c {
  padding: 5px 0px 0px 5px;
}

.results {
  margin-top: 50px;
}

.event-left {
  display: inline-block;
  padding: 2px 8px 2px 2px;
  background-color: #FF8300;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  text-align: right;
  width: 85px;
}

.event-right {
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: text-bottom;
  font-size: 12px;
}

.event-name {
  font-weight: bold;
  text-align: left;
  padding: 0px;
}

.event-type {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}

.selected {
  background-color: #FF8300;
  font-weight: bold;
  color: white;
}

.search-option {
  margin: 0 auto;
}

.date-selection {
  width: 80%;
}

.dates-container {
  text-align: right;
  display: flex;
  flex-direction: column;
  width: 90%;
}

fieldset {
  border: none;
}
