* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 18px;
}

.app-head {
  text-align: center;
}

.selected {
  border: rgb(0, 140, 255) 2px solid;
}

.location-selection {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.events-list, .nav-list, #sport-list {
  list-style-type: none;
  margin: 20px;
  padding: 0px;
}

.events-list {
  margin-top: 50px;
}

.nav-list {
  display: flex;
  justify-content: center;
  background-color: lightslategray;
}

.nav-item {
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

#state {
  width: 60px;
  display: inline-block;
}

.map {
  height: 300px;
  margin-top: 50px;
}

#sport-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  padding: 0px;
}

.sport {
  text-align: center;
  padding: 10px;
  margin: 2px 10px;
  width: 80%;
  background-color: lightsteelblue;
}

.submit, .next {
  position: absolute;
  right: auto;
  clear: both;
}

.submit {
  margin-right: auto;
}

.event {
  margin-bottom: 5px;
}

.event-name {
  font-weight: bold;
  font-size: 12px;
}

.event-name {
  margin-top: -2px;
  margin-bottom: -5px;
  padding: 2px;

}

.venue-name {
  margin-top: -5px;
  margin-bottom: -2px;
}

.venue-address {
  margin-top: -15px; 
  margin-bottom: 0px;
}

.gm-style .gm-style-iw-c {
  padding: 5px 0px 0px 5px;
}

.results-list {
  width: 100%;
}

