@media screen and (min-width: 450px) and (max-width:750px) {
  h1 {
    font-size: 36px;
  }

  .sport {
    width: 45%;
  }

  .map {
    height: 450px;
  }

  #sport-list {
    flex-direction: row;
    justify-content: left;
  }

  .event {
    margin-left: 25px;
  }

}
