@media screen and (min-width:1251px) {
  
  h1 {
    font-size: 36px;
  }

  h3 {
    margin-top: 0px;
  }

  .results {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .results-list {
    display: inline-block;
    margin-left: 25px;
    width: 50%;
  }

  .sport {
    width: 23%;
  }

  .map {
    height: 700px;
    width: 50%;
    display: inline-block;
  }

  .events-list {
    overflow-y: scroll;
    height: 633px;
  }

  .hidden {
    display: none;
  }

}